body{
    margin: 0;
}

html, body {
	width: 100%; height: 100%;
}

.container{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
}

.title{
    width:100%;
    height: 30%;
    background-color : wheat;
}

.title h1{
    font-size : 4em;
    text-align : center;
    color : black;
}
.content{
    width:100%;
    height:70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}

.name{
    flex: 1;
    width: 30%;
    height:100%;
    border: 1px black solid;
}

.button {
    width : 100%;
    height : 100%;
    float : middle;
    margin : 0;
}
.btm_img {
    text-align : center;
}