body{
    margin: 0;
}

html, body {
	width: 100%; height: 100%;
}

.container{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
}

.title{
    width:100%;
    height: 30%;
    background-color : wheat;
    display: flex;
    flex-direction: column;
}

.title h1{
    font-size : 2em;
    text-align : center;
    color : black;
}
.content{
    width:100%;
    height:70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.name1{
    flex: 1;
    width: 30%;
    height:100%;
    border: 1px black solid;
}
.name2{
    flex: 1;
    width: 30%;
    height:100%;
    border: 1px black solid;
}
.name3{
    flex: 1;
    width: 30%;
    height:100%;
    border: 1px black solid;
}

.button {
    width : 100%;
    height : 100%;
    float : middle;
    margin : 0;
}

#yebeen{
    background-image: url('이하늬.png');
    background-size: cover;
    width: 100%;
    height: 100%;
}

#jinu{
    background-image: url('픽미.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
}

#euna{
    background-image: url('dog.png');
    background-size: cover;
    width: 100%;
    height: 100%;
}



.box{
    width: 100%;
    height: 80%;
    text-align: center;
    margin-top: 40px;
    font-size: 60px;
    font-weight: bold;
}
.box1{
    width: 100%;
    height: 20%;
    margin-bottom: 5px;
    margin-left: 20px;
    font-weight: bold;
}

button:focus {
    outline: none;
  }