body{
    margin: 0;
}
.container{
    width: 89%;
    /* position: relative; */
    height: 4320px;
    float:right;
}
.header{
    width:100%;
    height: 1080px;
    /* position:relative; */
}
.container_box{
    width: 100%;
    height: 1080px;
    /* background-color: aqua; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; */
}
.container_box:nth-child(odd){
    background-color: #FFFFF3;
}
.container_box:nth-child(even){
    background-color: #FFFFF3;
}
.title{
    width: 100%;
    height: 80px;
    /* line-height: 80px; */
    background-color: #566270;
    display: flex;
    flex-direction:row;
    justify-content: center;
    
}
/* .title h1{
    color: white;
    width:80%;
    text-align: center;
    margin: 0px 0px 0px 23%; 
} */

#box {
    text-align: center;
    width: 100%;
    max-width: 100%;
    /* padding-top: 100px; */
    text-align: center;
    margin: 0 auto;
    font-size: 42px;
    line-height: 80px;
    letter-spacing: 1px;
    opacity: 1;
    font-weight: bolder;
}
.text-effect p {
    display: inline-block;
    margin: 0;
    letter-spacing: 5px;
    opacity: 0;
    transition: 0.8s all;
    color: white;
}



.search_1{
    height:40px;
    width:275px;
    background-color: #ffffff;
}
.search_1 input{
    font-size:16px;
    width:200px;
    padding:10px;
    border: 0px;
    outline:none;
    float:left;
}
#modal_btn, #modal_btn_menu{
    width:70px;
    height:80%;
    border-radius: 10%;
    background-color: #ffffff;
    outline:none;
    float:right;
    color: #1C3240;
}
#modal_btn:hover, #modal_btn_menu:hover{
    border-color: #1C3240;
}
.search_1 button{
    width:50px;
    height:100%;
    border:0px;
    background-color: #1C3240;
    outline:none;
    float:right;
    color: #ffffff;
}
.test{  
    /* margin: 20px 40px; */
    margin: 20px 40px;
    position: absolute;
    top: 0;
    right: 0;
 }
.mid{
    background-color:#FFFFF3;
    width: 100%;
    height: 1000px;
    
    

}
.banner{
    background-color: #1C3240;
    position: fixed;
    float: left;
    height: 100%;
    width: 11%;
}

.side_left li a { 
    display: block; 
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
    padding :0px 10px;
}

.side_left li a:hover 
{ background-color: white; 
 color: #1C3240; 
}

.side_left li{
    height:55px;
    line-height: 55px;
    /* text-align: center; */
}
.side_left ul { 
    background-color: #1C3240;
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

.tag{
    /* padding: 40px 0px 0px 0px; */
    text-align: center;
    float: left;
    width: 29%;
    /* height:3%; */
    /* border: 1px grey solid; */
    /* vertical-align: center; */
}
.tag h2{
    text-align: center;
    margin: 0 auto;
    /* color:  #DEB887; */
    padding-left: 12px;
}

/* .cafe_info{
    width:25%;
    height: 75%;
    margin: 3% 2.5%;
    background-color: violet;
    float: left;
    text-align: center;
} */

.cafe_info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top:15px;
    /* align-items: center; */
    /* border: 1px #566270; */
    width:100%;
    height:80%;
}

.cafe{
    margin: 0px 34px;
    text-align: center;
    /* background-color: turquoise; */
    /* border: 1px grey solid; */
    /* width:27%; */
    width:25%;
    height: 80%;
    border-top: 4px #566270 solid;
    /* vertical-align: center; */
    /* border-style: dashed; */
}
.picture{
    width:100%;
    height:45%;
    padding-top: 14px

}

.picture button{
    width:100%;
    height:100%;
    border-radius: 50%;
    background-color: transparent;
    border:0px transparent solid;
}
button:focus {
    outline: none;
  }
.picture img{
    width:100%;
    height:100%;
    /* border-radius: 20%; */
    text-shadow: 2px 2px 5px; 
}
.small_info
{
    margin-top: 5px;
    margin-bottom: 0;
    width:100%;
    height:40%;
    /* border: 1px grey solid; */
    /* background-color: gold; */
    list-style-type: none; 
    /* margin: 0;  */
    padding: 0; 
    text-align: left;
}

.small_info li{
    height:40px;
    line-height:40px;
    padding: 0px 20px;
    font-size: 1.1rem;
}

.small_info1
{
    margin-top: 5px;
    margin-bottom: 0;
    width:100%;
    height:100%;
    /* border: 1px grey solid; */
    /* background-color: gold; */
    list-style-type: none; 
    /* margin: 0;  */
    padding: 0; 
    text-align: left;
}

.small_info1 li{
    height:40px;
    line-height:40px;
    padding: 0px 20px;
    font-size: 1.1rem;
}
.description{
    display:table-cell;
    vertical-align:middle;
    padding: 0px 25px;
    height:14%;
    line-height: normal;
}
.mid p{
    margin:0;
    /* color:#DEB887; */
    font-size: 2em;
    font-weight: bold;
    padding: 35px 70px;
}

.introduce{
    width:40%;
    height:80%;
    border: 1px grey solid;
    background-color: burlywood;
    text-align: center;
    margin: 0px 34px;

}

.container_title{
    width:100%;
    height: 10%;
    margin:0;
    font-size: 2em;
    font-weight: bold;
    padding: 35px 70px; 
}

.down_title{
    width:100%;
    margin:0;
    font-size: 2em;
    font-weight: bold;
    padding: 10px 70px; 
}

.intro{
    width: 100%;
    height: 90%;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    /* align-items: center; */
    /* width:80%;
    height:80%; */
    display: flex;
    align-items: center;
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    /* border: 1px grey solid; */




}

* {box-sizing: border-box;}
.mySlides {display: none;}
.introduce .slideshow-container img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    width: 100%;
    height:60%;
    position: relative;
    margin: auto;
}

.slideshow-container img{
    width:100%;
    height:450px;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

        
.modal, .modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
    
        /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */                         
}
.modal-content p{
    color: #DEB887;
    top: 0;
    left: 0;
    font-weight: bold;
}
        /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#clock{
    color: white;
    text-align:center;
}

  .dots{
      height:5%;
      width:100%;
  }

  .up{
    width:100%;
    height:49%;
    /* border: 1px grey solid; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
  }
  
  
  
  .down{
    width:100%;
    height:51%;
    /* border: 1px grey solid; */
  }
  
  .same{
    width:45%;
    height:100%;
    /* border: 1px grey solid; */
    /* display: flex; */
    /* flex-direction: col; */
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
  }
  
  .dis{
    width:100%;
    height:45%;
    display: flex;
    /* border: 1px grey solid; */
  
  }

  .menu_title{
    /* width:100%;
    height: 40px;
    border: 1px grey solid; */
    /* padding: 17px 20px;
    font-size: 1.2rem; */
    width: 100%;
    height: 10%;
    margin: 0;
    padding-top: 7px;
    /* border: 1px grey solid; */
    padding-left: 0;
  }

  .menu_title li {
    height: 40px;
    line-height: 40px;
    padding: 0px 20px;
    font-size: 1.1rem;
}
  .menu{
      width:50%;
      height:100%;
      /* border: 1px grey solid; */
      padding: 0px 21px;
  }

  ul{
    list-style-type: none;
  }

  .menu_name{
      font-size: 1.1rem;
  }

  /* .table{
    width:100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
  } */

  .comment{
    max-width: 75%;
    margin: 0 auto 60px;
    /* padding-bottom: 30px; */
    /* border-bottom: 1px solid #e6e6e6; */
  }

  .comment_content{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 15px 0 0 58px;
    box-sizing: border-box;
  }

  .comment ul li p{
    padding: 0 0 0 58px;
    font-size: 0.9375em;
    line-height: 1.5714;
    color: #666;
  }

  .date:before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 9px;
    margin-right: 10px;
    background-color: #b2b2b2;
  }

  .comment ul li{
    padding: 5px 0;
    border-bottom: 1px solid #e6e6e6;
  }

  /* .comment ul li:first-child{
      border: none;
  } */

  .comment ul{
      margin: 0;
      padding: 0;
  }

  .btn_submit{
    display: inline-block;
    width: 120px;
    height: 50px;
    border: 1px solid #dcdcdc;
    font-size: 0.875em;
    line-height: 50px;
  }

.btn_submit:hover{
    border-color: #1C3240;
}
  .comment_form textarea, .comment_form input[type=text],
  .comment_form input[type=password]{
    border: 1px solid #e6e6e6;
    font-size: 0.9375em;
    line-height: 1.25;
    color: #666;
    background-color: transparent;
  }
  .comment_form input[type=text],
  .comment_form input[type=password]{
    width: 130px;
    height: 40px;
    margin-right: 6px;
    padding: 10px;
    box-sizing: border-box;
}
.comment_form textarea{
    display: block;
    width: 100%;
    height: 75px;
    margin-bottom: 10px;
    padding: 10px;
    resize: none;
    box-sizing: border-box;
}
  .field{
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 8px;
  }
.conceal{
    display:none;
}
  .picture button img:hover{
      opacity: 0.5;
  }

  .picture button img:hover .conceal{
    display:block;
}

